/** @format */

.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul {
  display: flex;
}
.links {
  margin-right: 15px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
}
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
form {
  align-items: center;
  width: 400px;
  height: 30px;
  border-radius: 30px;
}
